DB_URL=jdbc:postgresql://localhost:5432/dbname
DB_USERNAME=user_admin
DB_PASSWORD=admin@123

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=admin@example.com
MAIL_PASSWORD=admin

COOKIE_SECURE=false
CORS_ALLOWED_ORIGINS=http://localhost:4200,http://localhost:4000
JWT_SECRET=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa